/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
@font-face {
  font-family: 'Futura Bold';
  font-weight: 700;
  src: url('fonts/FuturaPTBold.otf');
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: #F5F9FB;
  font-family: 'Roboto';
  overflow-x: hidden;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: #000;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/*header*/

header {
  height: 100vh;
  background-image: url('../img/header-bg.png');
  background-size: cover;
  background-position: center;
  color: #fff;
}

nav.navbar {
  padding-top: 2em !important;
}

nav a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
}

nav a:hover {
  opacity: .8;
  color: #fff;
}

.navbar-nav a::before {
  content: " ";
  display: block;
  position: absolute;
  border-bottom: solid 1px #2BC38F;
  bottom: 0px;
  width: 0%;
  left: 50%;
  margin: 0 auto;
  transition: all 0.5s;
  z-index: 1;
}

.navbar-nav a:hover::before {
  border-bottom: solid 1px #2BC38F;
  width: 90%;
  left: 5%;
}

.overlay {
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(41, 8, 52, 1), rgba(0, 0, 0, 0.7) 25%);
}

img.logo {
  height: 55px;
}

.header-title {
  margin: 1em auto;
  font-family: 'Futura Bold';
  font-size: 3.5em;
}

.title {
  font-weight: 400;
  line-height: 1.4em;
}

.text {
  opacity: .8;
  margin-top: 1em;
}

.clock-block {
  padding: 0 0em;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  margin: 1em auto;
}

#clockdiv .col-md-5 > div {
  padding: 0 10px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-top: 0.5em; 
}
#clockdiv .col-md-2{
     padding: 0 10px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 0.5em; 
}
#clockdiv .dots {
  vertical-align: top;
  background: transparent !important;
  color: #07DA91
}

#clockdiv div>span {
  font-size: 2em;
  border-radius: 3px;
  background: none;
  display: inline-block;
  font-family: 'Futura Bold'
}

.smalltext {
  margin-top: -5px;
  padding-bottom: 2px;
  font-size: 12px;
  opacity: .8
}

header .btn-default {
  width: 90%;
}

.btn-default {
  background-color: #07DA91;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 1rem;
}


/* About section */

section .title {
  padding-top: 2em;
  margin-bottom: 1em;
}

section {
  padding-bottom: 5em;
}
.card {
  border: 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.input-number {
  font-family: 'Futura Bold';
  color: #07DA91;
  font-size: 3em;
}

.input-number::placeholder {
  color: #07DA91;
}

.input-number {
  width: 100px;
  height: 1.5em;
  border: 2px solid #E6F7FF;
  padding: 0 5px;
}

.exchange-bar > div {
  padding: 0 1em;
}
.exchange-bar{
    margin-bottom: 2em;
}
.exchange-bar .text b {
  font-size: 2em;
  color: #181818;
  font-weight: 400;
}
.exchange-bar .text{
    margin: 0 .3em
}
.exchange .card-body {
  padding: 1em 3em;
}

.exchange td {
  border: none !important;
  color: #696969;
}

.exchange tr td:nth-child(2), .exchange tr td:nth-child(3) {
  font-size: 24px;
}

.number {
  color: #07DA91
}
#section_3{
    padding-bottom: 0;
}

/* Second section with bg*/

.bg-2 {
  padding-top: 2em;
  color: #fff;
  background-image: url('../img/bg-2.png');
  background-size: cover;
}

.text-border {
  border: 1px solid #07DA91;
  box-sizing: border-box;
  border-radius: 5px;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  padding: 0.5rem 0;
}


/* Условия роста токенов*/

.card .header {
  border-bottom: 2px solid #D6D6D6;
  padding: 1rem
}

.card .header p {
  display: inline-block;
}
/* Team */

.col-content {
  padding-top: 1em;
  padding-right: 2em;
}

.col-content .number {
  font-size: 1.2em;
  margin: 1em auto;
}

.border-top {
  border-top: 2px solid #D6D6D6;
}
.social img{
    width: 40px !important;
}

/* third section with bg*/

.bg-3 {
  color: #fff;
  background-image: url('../img/bg-3.png');
  background-size: cover;
}

input {
  border: 2px solid #07DA91;
  box-sizing: border-box;
  border-radius: 5px;
  height: 59px;
  vertical-align: middle;
  color: #fff;
  width: 40%;
  padding-left: 5px;
  background-color: transparent;
}

form .btn {
  margin-left: 10px;
}


/* footer */

footer img {
  width: 90px !important;
}

.copyright {
  color: #696969
}

.visibile-sm{
    display: none !important
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {}


@media only screen and (max-width: 770px) {
  img {
    width: 100%;
  }
    .visibile-sm{
        display: flex !important
    }
    .visibile-lg{
        display: none !important
    }
    header{
        text-align: center
    }
    .bg-2 img{
        width: 50%
    }
    #grafic{
        width: 50% !important;
    }
    #clockdiv{
        width: 100% !important
    }
    form .btn, form input{
    width: 50%;
    margin: auto;
    }
    form .btn{
    margin-top: 1em !important;
    }
    iframe{
    width: 100%;
    height: 200px;
}
    .social-footer{
        flex-wrap: wrap
    }
    .btn-default{
        font-size: 1.2em
    }
  
}

@media only screen and (max-width: 480px) {
  header, .overlay {
    height: auto;
  }
    .overlay{
         padding-bottom: 2em;
    }
  .exchange-bar {
    flex-wrap: wrap;
  }
     .bg-2 img{
        width: 20%
    }
     #grafic{
        width: 100% !important;
    }
       form .btn, form input{
    width: 80%;
    margin: auto;
    }
    p.w-50{
        width: 100% !important;
    }
}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 990px) {}

@media only screen and (min-width: 1140px) {
    .img-left{
    margin-left: -50%;
}
.img-right{
    margin-right: -40%;
    float: right
}
    .exchange-bar{
        width: 90%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
